// Variables (if you want to use them)
$primary-color: #f0f0f0;
$text-color: #333;
$container-width: 300px;

// Global styles
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  color: $text-color;
}

// Flex container to center content vertically and horizontally
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Full viewport height for centering
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  width: $container-width;
  height: auto;
  border-radius: 50%; // For circular image
  // Remove or adjust the box-shadow property
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // You can adjust this to make it less visible
}


@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";
